* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(150deg, #151518, #0b0813);
}

#timer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background-color: rgb(16, 17, 19);
    color: #ececec;
    margin-bottom: 6rem;
    padding: 4rem;
    font-size: 50px; 
}


#timer::before, #timer::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: linear-gradient(45deg, var(--cor-principal, #716bbd), var(--cor-secundaria, #5c2ab8));
    background-size: 300%;
    z-index: -1;   
    animation: borderMotion 5s linear infinite;
}

#timer::after {
    filter: blur(10px)
}


@keyframes borderMotion {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;
    }
}

#borderColor {
    position: absolute; 
    top: 10px; 
    right: 20px; 
    opacity: 0; 
    cursor: pointer; 
}

#colorIcon {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 38px;
    background: none; 
    color:#bab6f1;
    cursor: pointer;
}

#colorIcon:hover {
    font-size: 40px;
    color:#a098f0;
}

#actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
}

#actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    padding: .6rem;
    font-size: 1rem;
    border-radius: 18px;
    border: none;
    background-color: #bab6f1;
    color: #151518;
    cursor: pointer;
    transition: background-color .2s ease-in;
}

#actions button:hover {
    background-color: #a098f0;
}

#marks-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.7rem;
    color: #a3b3e7;
    max-height: 150px; 
    overflow-y: auto; 
    padding-top: 10px; 
    margin-top: 15px;
    border-radius: 8px;
}

#marks-list::-webkit-scrollbar {
    width: 8px; 
}

#marks-list::-webkit-scrollbar-thumb {
    background: #bbb7ec; 
    border-radius: 10px; 
}

#marks-list::-webkit-scrollbar-thumb:hover {
    background: #8880e0; 
}

#marks-list::-webkit-scrollbar-track {
    background: none; 
    border-radius: 10px; 
}

@media (max-width: 480px) {
    
    #timer {
        width: 320px;
        height: 320px;
        font-size: 38px;
    }

    #actions button {
        width: 65px;
        height: 65px;
    }
}
